:root {
  --ff-inter: "Inter", sans-serif;
  --black: #101828;
  --gray: #667085;
  --gray100: #eaecf0;
  --gray200: #d0d5dd;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-inter);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--black);
}

.app {
  padding-top: 64px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  padding: 0 16px;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.twitter {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.share-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px dashed var(--gray100);
  background-color: transparent;

  position: absolute;
  top: 0;
  right: 16px;
}

.share-button__desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .profile-section {
    margin-bottom: 56px;
  }

  .share-button__mobile {
    display: none;
  }

  .share-button__desktop {
    display: block;
  }

  .share-button {
    transform: translateY(-50%);
    right: 25%;
  }
}
